# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in m:\users\akshaykumar\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in m:\users\akshaykumar\anaconda3\lib\site-packages (from scipy) (1.20.3)

In [2]:
# import numpy and pandas
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st

In [3]:
from scipy.stats import ttest_1samp

In [4]:
%matplotlib inline

In [5]:
pd.set_option('display.max_columns',None)

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [6]:
# Your code here:

In [7]:
salaries = pd.read_csv('../data/Salaries.csv')

m:\Users\Akshaykumar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Examine the `salaries` dataset using the `head` function below.

In [8]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [9]:
# Your code here:

In [10]:
salaries.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [11]:
# Your code here:

In [12]:
round((salaries.isna().sum()/salaries.shape[0])*100, 2)

Id                    0.00
EmployeeName          0.00
JobTitle              0.00
BasePay               0.41
OvertimePay           0.00
OtherPay              0.00
Benefits             24.32
TotalPay              0.00
TotalPayBenefits      0.00
Year                  0.00
Notes               100.00
Agency                0.00
Status               74.36
dtype: float64

Get the shape of the dataframe

In [13]:
# Your code here

In [14]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [15]:
# Your code here

In [16]:
salaries = salaries.drop(['Notes'], axis = 1)
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [17]:
# Your code here

In [18]:
salaries.Status.value_counts(dropna = False)

NaN    110535
FT      22334
PT      15785
Name: Status, dtype: int64

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [19]:
# Your code here
salaries = salaries[salaries['Status'].isna()==False]

In [20]:
# Your code here

In [21]:
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [22]:
# Your code here

In [23]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

Do any type conversions and reset the index.

In [24]:
# Your code here

In [25]:
def conv_float(x) :
    x = pd.to_numeric(x, downcast="float")
    return x

In [26]:
# Your code here

In [27]:
salaries['BasePay'] = list(map(conv_float, salaries['BasePay']))
salaries['OvertimePay'] = list(map(conv_float, salaries['OvertimePay']))
salaries['OtherPay'] = list(map(conv_float, salaries['OtherPay']))
salaries['Benefits'] = list(map(conv_float, salaries['Benefits']))

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [28]:
# Your code here

In [29]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [30]:
salaries = salaries.reset_index(drop = True)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

In [31]:
salaries['TotalPayBenefits'] == (salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits'])

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118    False
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [32]:
# Your code here:

In [33]:
# Let's first create a column with the results of the previous assumption :
salaries['SumPay'] = (salaries['TotalPayBenefits'] == (salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']))
salaries['SumPay'].value_counts()

False    23192
True     14927
Name: SumPay, dtype: int64

In [34]:
round((salaries['SumPay'].value_counts()/len(salaries))*100,2)

# 60,84 % of employees doesn't fit the previous assumption

False    60.84
True     39.16
Name: SumPay, dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [35]:
# Your code here:

In [36]:
salaries.groupby(['JobTitle']).agg({'Id':pd.Series.nunique}).rename(columns = {'Id' : 'Employees'})

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [37]:
# Your code here: (compute the "Hourly_Wage")

In [38]:
salaries['Hourly_Wage'] = salaries['TotalPayBenefits'] / 50 / 40
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,SumPay,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550

In [39]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [40]:
salaries_ft = salaries[salaries['Status'] == 'FT']
salaries_ft.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,SumPay,Hourly_Wage
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550
5,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,False,207.883970
6,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,True,200.535435

In [41]:
pop_mean = 75
sample_mean = np.mean(salaries_ft['Hourly_Wage'])

In [42]:
# and the sampling error :
sampling_error = sample_mean - pop_mean
sampling_error

-5.735793592728996

In [43]:
# Degree of freedom
degree_freedom = len(salaries_ft) - 1
degree_freedom

22333

In [44]:
# Now let's compute the t-stat :
import scipy.stats
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(salaries_ft['Hourly_Wage'], popmean = pop_mean, alternative = "two-sided")

In [45]:
print("The t-statistic for Hourly Wage of FT workers is :", stat)

The t-statistic for Hourly Wage of FT workers is : -35.80631941460526

In [46]:
print("The p-value for Hourly Wage of FT workers is :", pval/2)

The p-value for Hourly Wage of FT workers is : 2.258915616919724e-273

In [47]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
# Method 1: Critical value. Get the critical value and compare it against your t_statisttic.
scipy.stats.t.ppf(0.05/2,df = degree_freedom) # - xc

-1.9600702128845597

In [48]:
scipy.stats.t.ppf((1 - 0.05/2),df = degree_freedom) # xc

1.9600702128845593

In [49]:
# Method 2: Use the p-value method.
# Your code here:

In [50]:
pval = scipy.stats.t.cdf(stat, df = degree_freedom)
pval

2.258915616919724e-273

In [51]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [52]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [53]:
# First of all let's filter the dataframe with "Police" employees :
def police_filter(x) :
    if ('Police' in x) :
        return True 
    else :
        return False

salaries['Police'] = salaries['JobTitle'].apply(police_filter)
salaries['Police'].unique()

array([False,  True])

In [54]:
salaries_police = salaries[salaries['Police'] == True]
salaries_police.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,SumPay,Hourly_Wage,Police
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610,True
86,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,True,150.874905,True
143,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,True,144.557475,True
181,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,True,140.111380,True
300,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,True,133.617500,True

In [55]:
 # let's compute the mean of the sample :
pop_mean = 86000
sample_mean = np.mean(salaries_police['TotalPayBenefits'])

In [56]:
sampling_error = sample_mean - pop_mean
sampling_error

62349.042125197215

In [57]:
degree_freedom = len(salaries_police) - 1
degree_freedom

1900

In [58]:
# Now let's compute the t-stat :
import scipy.stats
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(salaries_police['TotalPayBenefits'], popmean = pop_mean, alternative = "less")

In [59]:
print("The t-statistic for Total Pay Benefits for police workers is :", stat)

The t-statistic for Total Pay Benefits for police workers is : 50.252984742109945

In [60]:
print("The pvalue for Total Pay Benefits for police workers is :", pval)

The pvalue for Total Pay Benefits for police workers is : 1.0

In [61]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
scipy.stats.t.ppf(0.05,df = degree_freedom)

-1.645656004264731

In [62]:
# Method 2: Use the p-value method.

In [63]:
pval = scipy.stats.t.cdf(stat, df = degree_freedom)
pval

1.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [64]:
# Your code here: (Get the department which has most employees)

In [65]:
# Get the department which has most employees :
salaries['JobTitle'].value_counts()

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Claims Process Clerk               1
Asst Dir, Log Cabin Rnch           1
Media Production Specialist        1
Chf Prob Ofc, Juv Court            1
Electric Motor Repair Sprv 1       1
Name: JobTitle, Length: 996, dtype: int64

In [66]:
# Let's filter the dataframe accordingly :
salaries_bigdep = salaries[salaries['JobTitle'] == 'Transit Operator']
salaries_bigdep.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,SumPay,Hourly_Wage,Police
3223,113755,Nancy Padilla,Transit Operator,70636.56,78492.00,6636.63,38481.57,155765.19,194246.76,2014,San Francisco,FT,True,97.123380,False
3537,114069,Louis E Galarce,Transit Operator,71278.32,73221.72,6785.53,38861.51,151285.57,190147.08,2014,San Francisco,FT,False,95.073540,False
3766,114298,Duane Allen,Transit Operator,70029.28,69941.99,8592.74,38733.41,148564.01,187297.42,2014,San Francisco,FT,True,93.648710,False
4380,114912,Jaime O Olivar,Transit Operator,68842.56,65726.67,8828.06,38206.75,143397.29,181604.04,2014,San Francisco,FT,False,90.802020,False
4891,115423,Freeman Chee,Transit Operator,69777.22,60584.96,8146.38,38480.23,138508.56,176988.79,2014,San Francisco,FT,True,88.494395,False

In [89]:
# let's compute the mean of the sample :
pop_mean = 35
sample_mean = np.mean(salaries_bigdep['Hourly_Wage'])

In [90]:
# and the sampling error :
sampling_error = sample_mean - pop_mean
sampling_error

8.35949773900775

In [91]:
# Degree of freedom
degree_freedom = len(salaries_bigdep) - 1
degree_freedom

2478

In [92]:
# Let's compute the t-statistic and pvalue :
stat, pval = ttest_1samp(salaries_bigdep['Hourly_Wage'], popmean = pop_mean, alternative = "less")

In [93]:
print("The t-statistic for Hourly Wage for Transit Operators is :", stat)

The t-statistic for Hourly Wage for Transit Operators is : 19.064990324906383

In [94]:
print("The pvalue for Hourly Wage for Transit Operators is :", pval)

The pvalue for Hourly Wage for Transit Operators is : 1.0

In [95]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
scipy.stats.t.ppf(0.05,df = degree_freedom)

-1.6454687772470247

In [96]:
# Method 2: Use the p-value method.
pval = scipy.stats.t.cdf(stat, df = degree_freedom)
pval

1.0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [97]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [98]:
confidence_level = 0.95
degrees_freedom = len(salaries['Hourly_Wage']) - 1  

sample_mean = np.mean(salaries['Hourly_Wage'])
print('Sample mean is :', round(sample_mean,2))

sample_standard_error = scipy.stats.sem(salaries['Hourly_Wage']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

Sample mean is : 50.13
confidence interval is  (49.798255413084014, 50.46318325529486) .

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [99]:
# Your code here:

In [100]:
confidence_level = 0.95
degrees_freedom = len(salaries_police['Hourly_Wage']) - 1  

sample_mean = np.mean(salaries_police['Hourly_Wage'])
print('Sample mean is :', round(sample_mean,2))

sample_standard_error = scipy.stats.sem(salaries_police['Hourly_Wage']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

Sample mean is : 74.17
confidence interval is  (72.9578791736444, 75.3911629515526) .

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [101]:
# Your code here: (Create the function)
# Create the function :
def employee_group(x) :
    if ('Police' in x) :
        return 'Policemen' 
    elif ('Fire' in x) :
        return 'Firemen'
    elif ('Med' in x or 'Nurse' in x) :
        return 'Medical'
    elif ('Attorney' in x) :
        return 'Lawyer'
    else :
        return 'Other'

In [102]:
# Your code here: (Apply the function)

In [103]:
salaries['employee_group'] = salaries['JobTitle'].apply(employee_group)
salaries['employee_group'].unique()

array(['Other', 'Medical', 'Policemen', 'Firemen', 'Lawyer'], dtype=object)

In [104]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,SumPay,Hourly_Wage,Police,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,255.366340,False,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,239.826105,False,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,218.112180,False,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,209.009610,True,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,208.717550,False,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [105]:
# Your code here: (Store the output dataframe into a new variable)

In [106]:
ft_pt = pd.crosstab(salaries['employee_group'], salaries['Status'], margins = False)
ft_pt

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [107]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [108]:
frequencies = pd.DataFrame()
frequencies

Empty DataFrame
Columns: []
Index: []

In [109]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [110]:
N = 1333 + 178 + 317 + 102 + 1028 + 2889 + 18126 + 12245 + 1530 + 371

In [111]:
# Let's first compute the proba of being Firemen
proba_firemen = (1333 + 178) / N
proba_firemen

0.03963902515805766

In [113]:
# Then let's compute the proba of being FT
proba_ft = sum(ft_pt['FT']) / N
proba_ft

0.5859020436003043

In [114]:
# Finally let's compute the expected frequency
firemen_ft = proba_firemen * proba_ft * N
firemen_ft

885.2979878800596

In [115]:
# Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"
# Let's compute the proba of being PT
proba_pt = sum(ft_pt['PT']) / N
proba_pt

0.4140979563996957

In [116]:
# Expected frequency of being Firemen and PT :
firemen_pt = proba_firemen * proba_pt * N
firemen_pt

625.7020121199403

In [117]:
# Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"
# For that let's first compute the proba of being "Lawyers"
proba_lawyers = (317+102) / N
proba_lawyers

0.010991893806238358

In [118]:
# Then Compute the expected frequency of being Lawyers and FT :
lawyers_ft = proba_lawyers * proba_ft * N
lawyers_ft

245.49295626852748

In [119]:
# Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"
lawyers_pt = proba_lawyers * proba_pt * N
lawyers_pt

173.5070437314725

In [120]:
# Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"
# Let's first compute the proba of being "Medical" :
proba_medical = (1028 + 2889) / N
proba_medical

0.10275715522442876

In [121]:
# Then Compute the expected frequency of being Medical and FT :
medical_ft = proba_medical * proba_ft * N
medical_ft

2294.9783047823917

In [122]:
# Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"
medical_pt = proba_medical * proba_pt * N
medical_pt

1622.021695217608

In [123]:
# Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"
# Let's first compute the proba of being 'other'
proba_other = (18126 + 12245) / N
proba_other

0.7967417823132821

In [124]:
other_ft = proba_other * proba_ft * N
other_ft

17794.430966184842

In [125]:
# Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"
other_pt = proba_other * proba_pt * N
other_pt

12576.569033815158

In [126]:
# Compute Expected frequency of being "Policemen" and "FT". Store the solution in a variable named "policemen_ft"
# Let's compute the proba of being policemen :
proba_police = (1530 + 371) / N
proba_police

0.049870143497993125

In [127]:
policemen_ft = proba_police * proba_ft * N
policemen_ft

1113.7997848841785

In [128]:
# Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"
policemen_pt = proba_police * proba_pt * N
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [129]:
# Your code here:

In [130]:
# Store all the expected frequencies of "FT" employees in a list and store all the "PT" employees into another list
freq_ft = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
freq_pt = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

In [131]:
# Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
dict_ptft = {'FT' : freq_ft, 'PT' : freq_pt}
dict_ptft

{'FT': [885.2979878800596,
  245.49295626852748,
  2294.9783047823917,
  17794.430966184842,
  1113.7997848841785],
 'PT': [625.7020121199403,
  173.5070437314725,
  1622.021695217608,
  12576.569033815158,
  787.2002151158215]}

In [132]:
# Create a dataframe with this dictionary using pd.DataFrame()
freq_df = pd.DataFrame(dict_ptft)
freq_df

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [133]:
import scipy.stats as st

st.chi2_contingency(np.array(ft_pt))

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

In [134]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

#Use the p-value to determine if you accept or reject the null hypotheses.

#reject null hypothesis (because pval = 0.0 < 0.05) -> NOT independent -> there is a relationship between employee group and Status

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function